<!-- Coding by CodingNepal | www.codingnepalweb.com -->

<head>
    <meta charset="UTF-8">
    <title> Finance Manager </title>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="sidebar">
    <div class="logo-details">
        <i class='bx bxs-dollar-circle'></i>
        <span class="logo_name">Finance Manager</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-credit-card-front'></i>
                <span class="links_name">Accounts</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-up-arrow-circle'></i>
                <span class="links_name">Incomes</span>
            </a>
        </li>
        <li>
            <a href="#" class="active">
                <i class='bx bx-down-arrow-circle'></i>
                <span class="links_name">Expenses</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bxs-bank'></i>
                <span class="links_name">Finance Tracker</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-wallet'></i>

                <span class="links_name">Budget Tracker</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-repost'></i>
                <span class="links_name">Subscription Tracker</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-coin-stack'></i>
                <span class="links_name">Savings Tracker</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-file-blank'></i>
                <span class="links_name">Monthly Reports</span>
            </a>
        </li>
        <li class="log_out">
            <a href="#">
                <i class='bx bx-log-out'></i>
                <span class="links_name">Log out</span>
            </a>
        </li>
    </ul>
</div>

<section class="home-section">
    <nav>
        <div class="sidebar-button">
            <i class='bx bx-menu sidebarBtn'></i>
            <!-- <span class="dashboard">Expense Tracker</span> -->
        </div>
        <!-- <div class="search-box">
            <input type="text" placeholder="Search...">
            <i class='bx bx-search'></i>
        </div> -->
        <div class="profile-details">
            <img src="images/profile.jpg" alt="">
            <span class="admin_name">Prem Shahi</span>
            <i class='bx bx-chevron-down'></i>
        </div>
    </nav>


    <div class="home-content">
        <div class="page-title">Expense Tracker</div>
        <div class="sub-title">Categories</div>
        <div class="overview-boxes">
            <div class="box">

                <div>
                    <div class="box-topic"><i class='bx bx-dish' style="margin-right: 5px;"></i>Food</div>
                    <div class="number">$ 40,876</div>
                </div>
            </div>
            <div class="box">

                <div>
                    <div class="box-topic"><i class='bx bxs-car' style="margin-right: 5px;"></i>Transport</div>
                    <div class="number">$ 40,876</div>
                </div>
            </div>
            <div class="box">

                <div>
                    <div class="box-topic"><i class='bx bx-cart-alt' style="margin-right: 5px;"></i>Shopping</div>
                    <div class="number">$ 40,876</div>
                </div>
            </div>
            <div class="box">

                <div>
                    <div class="box-topic"><i class='bx bx-movie-play' style="margin-right: 5px;"></i>Entertainment
                    </div>
                    <div class="number">$ 40,876</div>
                </div>
            </div>
            <div class="box">

                <div>
                    <div class="box-topic"><i class='bx bx-money' style="margin-right: 5px;"></i>Bills</div>
                    <div class="number">$ 40,876</div>
                </div>
            </div>
            <div class="box">

                <div>
                    <div class="box-topic"><i class='bx bx-book-alt' style="margin-right: 5px;"></i>Education</div>
                    <div class="number">$ 40,876</div>
                </div>
            </div>
            <div class="new-button">
                <div class="box-button"><i class='bx bx-plus' style="margin-right: 5px;"></i>New</div>
            </div>

        </div>
        <div class="sub-title">Monthly Expenses
            <div class="new">
                <div class="box-button"><i class='bx bx-plus' style="margin-right: 5px;"></i>New</div>
            </div>
        </div>
        
        <!-- <div class="new">
            <div class="box-button"><i class='bx bx-plus' style="margin-right: 5px;"></i>New</div>
        </div> -->

        <div class="overview-boxes">
            
            <div class="date">
                <div class="content-title">July 2023</div>
                <div class="box">
                    <div>
                        <div class="box-topic"><i class='bx bxs-down-arrow-circle' style="margin-right: 5px;"></i>
                            Food
                        </div>
                        <div class="number">$ 40,876</div>
                    </div>
                </div>
                <div class="box">
                    <div>
                        <div class="box-topic"><i class='bx bxs-down-arrow-circle' style="margin-right: 5px;"></i>
                            Food
                        </div>
                        <div class="number">$ 40,876</div>
                    </div>
                </div>
                <div class="box">
                    <div>
                        <div class="box-topic"><i class='bx bxs-down-arrow-circle' style="margin-right: 5px;"></i>
                            Food
                        </div>
                        <div class="number">$ 40,876</div>
                    </div>
                </div>
                <div class="new-button">
                    <div class="box-button"><i class='bx bx-plus' style="margin-right: 5px;"></i>New</div>
                </div>
            </div>

            <div class="date">
                <div class="content-title">August 2023</div>
                <div class="box">
                    <div>
                        <div class="box-topic"><i class='bx bxs-down-arrow-circle' style="margin-right: 5px;"></i>
                            Food
                        </div>
                        <div class="number">$ 40,876</div>
                    </div>
                </div>
                <div class="box">
                    <div>
                        <div class="box-topic"><i class='bx bxs-down-arrow-circle' style="margin-right: 5px;"></i>
                            Food
                        </div>
                        <div class="number">$ 40,876</div>
                    </div>
                </div>
                <div class="box">
                    <div>
                        <div class="box-topic"><i class='bx bxs-down-arrow-circle' style="margin-right: 5px;"></i>
                            Food
                        </div>
                        <div class="number">$ 40,876</div>
                    </div>
                </div>
                <div class="new-button">
                    <div class="box-button"><i class='bx bx-plus' style="margin-right: 5px;"></i>New</div>
                </div>
            </div>

        </div>

    </div>
</section>